.App {
  text-align: center;
}
.button {
  background: rgb(81, 229, 255);
  width: 30px;
  border-radius: 5px;
}

.outLine {
  height: 730px;
  border: 10px solid rgb(242, 109, 249);
  border-radius: 5px;
}

.listItem {
  text-decoration: none;
}

.img{
  width: 100px;
  height: 100px;
  background-color: blue;
  border: 10px solid rgb(242, 109, 249);
}

::marker {
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}